<!--
 * @Author: your name
 * @Date: 2022-01-04 17:54:39
 * @LastEditTime: 2022-01-06 13:48:38
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \hubulidere:\素材\HTML+CSS+VUE 动态图片切换\vue\index.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片动态切换</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="app">
        <div class="big-box" @mousewheel='onScroll'>
            <div class="big-img">
                <ul class="imgbox">
                    <li class="fleximg" ref="bigimg">
                        <div v-for='(item,index) in src'>
                            <img :src="item" alt=""></div>
                    </li>
                </ul>
                <p ref="pictures">pictures 1</p>
            </div>
            <div class="thumbnail-box" ref="scrollbox">
                <ul ref="scroll">
                    <li v-for='(item,index) in src' @click='imgshow(index)'>
                        <img :src="item" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
    
</body>
</html>