body {
    padding: 0;
    margin: 0;
}

input {
    padding: 0;
    margin: 0; 
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

i {
    font-style: normal;
}

h3 {
    margin: 0;
}

.input_box {
    width: 100%;
    height: 60px;
    background-color: rgb(28, 160, 236);
    text-align: center;
    line-height: 60px;
}

.input_box input {
    width: 90%;
    height: 40px;
    background-color: #fff;
    border: 0;
    border-radius: 32px;
    outline: none;
    font-size: 20px;
    padding-left: 25px;
    color: #333;
}

.search ul li {
    color: #777;
    padding: 0 14px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    background-color: #fff;
}

.search ul li:hover {
    color: rgba(34, 148, 241, 0.8);
    background-color: rgba(153,153,153,0.2);
    cursor: pointer;
}

.City_box {
    position: relative;
    width: 100%;
}

.City_box .hotCity {
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.City_box .hotCity h3 {
    margin-left: 22px;
    padding: 5px 0;
    color: #777;
}

.City_box .hotCity span {
    float: left;
    width: 28%;
    height: 40px;
    margin: 18px;
    line-height: 40px;
    border: 1px solid rgba(153,153,153,0.5);
    text-align: center;
    background-color: rgba(230, 230, 230, 0.2);
    color: #777;
    font-weight: 500;
}

.City_box .hotCity span:hover {
    border: 1px solid rgba(34, 148, 241, 0.8);
    cursor: pointer;
    background-color: #fff;
}

.City_box .all {
    background-color: #fff;
    color: #333;
    font-size: 18px;
}

.City_box .all .letter {
    font-size: 22px;
    padding: 10px 20px;
    background-color: rgba(179, 179, 179, 0.15);
    margin: 0;
    color: rgb(44, 27, 184);
}

.City_box .all li,.City_box .all li p {
    padding: 8px;
    margin: 0;
    cursor: pointer;
}

.City_box .all li:hover {
    background-color: rgb(230,230,230);
}

.initial {
    float: right;
    position: fixed;
    right: 16px;
    top: 70px;
}

.initial ul li {
    color: rgb(36, 79, 141);
    text-align: center;
}